@font-face { 
  font-display:block;
  font-family:bootstrap-icons;
  src:url("./fonts/bootstrap-icons.woff2-dd67030699838ea613ee6dbda90effa6") format("woff2"),url("./fonts/bootstrap-icons.woff-dd67030699838ea613ee6dbda90effa6") format("woff");
} 
  body {  
    font-family:var(--bs-body-font-family);
    font-size:var(--bs-body-font-size);
    font-weight:var(--bs-body-font-weight);
    line-height:var(--bs-body-line-height);
    color:var(--bs-body-color);
    text-align:var(--bs-body-text-align);
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --bs-gutter-x:  1.5rem;  
    --bs-gutter-y:  0;  
    --bs-gutter-x:  0; 
    --bs-gutter-y:  0; 
    --bs-text-opacity:  1;  
    --bs-link-hover-color-rgb: 10,88,202; 
    --bs-link-color-rgb:  var(--bs-link-hover-color-rgb); 
    --bs-card-title-spacer-y:  0.5rem;  
    --bs-border-width: 1px; 
    --bs-card-border-width:  var(--bs-border-width);  
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175); 
    --bs-card-border-color:  var(--bs-border-color-translucent);  
    --bs-border-radius: 0.375rem; 
    --bs-card-border-radius:  var(--bs-border-radius);  
    --bs-card-inner-border-radius:  calc(var(--bs-border-radius) - (var(--bs-border-width)));  
    --bs-body-color-rgb: 33,37,41; 
    --bs-card-cap-bg:  rgba(var(--bs-body-color-rgb), 0.03);  
    --bs-body-bg: #fff; 
    --bs-card-bg:  var(--bs-body-bg);  
    --bs-text-opacity:  1;  
    --bs-badge-padding-x:  0.65em;  
    --bs-badge-padding-y:  0.35em;  
    --bs-badge-font-size:  0.75em;  
    --bs-badge-font-weight:  700;  
    --bs-badge-color:  #fff;  
    --bs-badge-border-radius:  var(--bs-border-radius);  
    --bs-text-opacity:  1;  
    --bs-bg-opacity:  1;  
    --bs-bg-opacity:  1;  
    --bs-text-opacity:  1;  
} 

* { 
    box-sizing: border-box;
} 

.p-0 { 
    padding: 0!important;
} 

body { 
    margin: 0; 
    font-family: var(--bs-body-font-family); 
    font-size: var(--bs-body-font-size); 
    font-weight: var(--bs-body-font-weight); 
    line-height: var(--bs-body-line-height); 
    color: var(--bs-body-color); 
    text-align: var(--bs-body-text-align); 
    background-color: var(--bs-body-bg); 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

body { 
    font-family: 'Arial', sans-serif;
} 

:root { 
    --bs-success-rgb: 25,135,84; 
    --bs-danger-rgb: 220,53,69; 
    --bs-light-rgb: 248,249,250; 
    --bs-dark-rgb: 33,37,41; 
    --bs-white-rgb: 255,255,255; 
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    --bs-body-font-family: var(--bs-font-sans-serif); 
    --bs-body-font-size: 1rem; 
    --bs-body-font-weight: 400; 
    --bs-body-line-height: 1.5; 
    --bs-body-color: #212529; 
    --bs-body-color-rgb: 33,37,41; 
    --bs-body-bg: #fff; 
    --bs-heading-color: inherit; 
    --bs-link-color-rgb: 13,110,253; 
    --bs-link-hover-color-rgb: 10,88,202; 
    --bs-border-width: 1px; 
    --bs-border-style: solid; 
    --bs-border-color: #dee2e6; 
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175); 
    --bs-border-radius: 0.375rem; 
    --bs-border-radius-xxl: 2rem; 
    --bs-border-radius-2xl: var(--bs-border-radius-xxl); 
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); 
} 

@media (prefers-reduced-motion: no-preference){ 
  :root { 
    scroll-behavior: smooth;
  } 
}     

.mb-5 { 
    margin-bottom: 3rem!important;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

h2 { 
    font-size: calc(1.325rem + .9vw);
} 

@media (min-width: 1200px){ 
  h2 { 
    font-size: 2rem;
  } 
}     

.h3,h2 { 
    margin-top: 0; 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2; 
    color: var(--bs-heading-color);
} 

.h3 { 
    font-size: calc(1.3rem + .6vw);
} 

@media (min-width: 1200px){ 
  .h3 { 
    font-size: 1.75rem;
  } 
}     

.border-bottom { 
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
} 

.mb-4 { 
    margin-bottom: 1.5rem!important;
} 

.pb-2 { 
    padding-bottom: .5rem!important;
} 

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.g-0 { 
    --bs-gutter-x: 0;
} 

.g-0 { 
    --bs-gutter-y: 0;
} 

.text-danger { 
    --bs-text-opacity: 1; 
    color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;
} 

.bi:before, [class*=" bi-"]::before,[class^="bi-"]:before { 
    display: inline-block; 
    font-family: bootstrap-icons!important; 
    font-style: normal; 
    font-weight: 400!important; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    vertical-align: -.125em; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.bi-fire:before { 
    content: "\f7f6";
} 

.row > *  { 
    flex-shrink: 0; 
    width: 100%; 
    max-width: 100%; 
    padding-right: calc(var(--bs-gutter-x) * .5); 
    padding-left: calc(var(--bs-gutter-x) * .5); 
    margin-top: var(--bs-gutter-y);
} 

.col { 
    flex: 1 0 0%;
} 

.row-cols-2 > *  { 
    flex: 0 0 auto; 
    width: 50%;
} 

@media (min-width: 576px){ 
  .row-cols-sm-2 > *  { 
    flex: 0 0 auto; 
    width: 50%;
  } 
}     

@media (min-width: 768px){ 
  .row-cols-md-3 > *  { 
    flex: 0 0 auto; 
    width: 33.33333333%;
  } 
}     

@media (min-width: 992px){ 
  .row-cols-lg-4 > *  { 
    flex: 0 0 auto; 
    width: 25%;
  } 
}     

@media (min-width: 1200px){ 
  .row-cols-xl-5 > *  { 
    flex: 0 0 auto; 
    width: 20%;
  } 
}     

a { 
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); 
    text-decoration: underline;
} 

.text-decoration-none { 
    text-decoration: none!important;
} 

a:hover { 
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
} 

.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.shadow-sm { 
    box-shadow: var(--bs-box-shadow-sm)!important;
} 

.h-100 { 
    height: 100%!important;
} 

.card { 
    border-radius: 15px; 
    overflow: hidden; 
    transition: transform 0.3s;
} 

.card:hover {
    transform: scale(1.05);
}

img { 
    vertical-align: middle;
} 

.mt-2 { 
    margin-top: .5rem!important;
} 

p { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

.small { 
    font-size: .875em;
} 

.mb-0 { 
    margin-bottom: 0!important;
} 

.text-white { 
    --bs-text-opacity: 1; 
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
} 

.card-text:last-child { 
    margin-bottom: 0;
} 

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.d-block { 
    display: block!important;
} 

.d-flex { 
    display: flex!important;
} 

.align-items-center { 
    align-items: center!important;
} 

.mt-0 { 
    margin-top: 0!important;
} 

.badge { 
    --bs-badge-padding-x: 0.65em; 
    --bs-badge-padding-y: 0.35em; 
    --bs-badge-font-size: 0.75em; 
    --bs-badge-font-weight: 700; 
    --bs-badge-color: #fff; 
    --bs-badge-border-radius: var(--bs-border-radius); 
    display: inline-block; 
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x); 
    font-size: var(--bs-badge-font-size); 
    font-weight: var(--bs-badge-font-weight); 
    line-height: 1; 
    color: var(--bs-badge-color); 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: baseline; 
    border-radius: var(--bs-badge-border-radius);
} 

.text-dark { 
    --bs-text-opacity: 1; 
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
} 

.bg-light { 
    --bs-bg-opacity: 1; 
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
} 

.bg-success { 
    --bs-bg-opacity: 1; 
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important;
} 

.me-2 { 
    margin-right: .5rem!important;
} 

.text-white-50 { 
    --bs-text-opacity: 1; 
    color: rgba(255,255,255,.5)!important;
} 

.me-1 { 
    margin-right: .25rem!important;
} 

.bi::before, [class*=" bi-"]::before, [class^="bi-"]::before { 
    display: inline-block; 
    font-family: bootstrap-icons!important; 
    font-style: normal; 
    font-weight: 400!important; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    vertical-align: -.125em; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.bi-heart-fill:before { 
    content: "\f415";
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-SoZZU.style-SoZZU {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-NJ3z1.style-NJ3z1 {  
   position: relative;  
    padding-top: 125%;  
}  
#style-nyOSD.style-nyOSD {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-jR8wd.style-jR8wd {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-BqYZQ.style-BqYZQ {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-QOq3b.style-QOq3b {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-iSxVH.style-iSxVH {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-aqPiJ.style-aqPiJ {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-Tp6Hy.style-Tp6Hy {  
   font-size: 0.8em;  
}  
#style-6nZoW.style-6nZoW {  
   font-weight: normal;  
}  
#style-6DJRv.style-6DJRv {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-9QXep.style-9QXep {  
   font-size: 0.8em;  
}  
#style-i4AsM.style-i4AsM {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-SdFAE.style-SdFAE {  
   display: none;  
}  
#style-s1Dwj.style-s1Dwj {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-eC49k.style-eC49k {  
   position: relative;  
    padding-top: 125%;  
}  
#style-6hwPP.style-6hwPP {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-JL3Kd.style-JL3Kd {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-oZKzo.style-oZKzo {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-ckJJC.style-ckJJC {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-iRmH7.style-iRmH7 {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-ZqIwl.style-ZqIwl {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-iN7N4.style-iN7N4 {  
   font-size: 0.8em;  
}  
#style-QyxvT.style-QyxvT {  
   font-weight: normal;  
}  
#style-kXyxk.style-kXyxk {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-SvD2W.style-SvD2W {  
   font-size: 0.8em;  
}  
#style-4tJLC.style-4tJLC {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-b7kZ5.style-b7kZ5 {  
   display: none;  
}  
#style-3KWpw.style-3KWpw {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-SV1El.style-SV1El {  
   position: relative;  
    padding-top: 125%;  
}  
#style-SmVo9.style-SmVo9 {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-5kLv2.style-5kLv2 {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-V7OLT.style-V7OLT {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-43MTV.style-43MTV {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-kCEZd.style-kCEZd {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-8dZkx.style-8dZkx {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-Pe4ZQ.style-Pe4ZQ {  
   font-size: 0.8em;  
}  
#style-4fdBG.style-4fdBG {  
   font-weight: normal;  
}  
#style-z9mfa.style-z9mfa {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-P8odB.style-P8odB {  
   font-size: 0.8em;  
}  
#style-LwTqX.style-LwTqX {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-OhUrz.style-OhUrz {  
   display: none;  
}  
#style-XCY1S.style-XCY1S {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-ePLZA.style-ePLZA {  
   position: relative;  
    padding-top: 125%;  
}  
#style-8KIes.style-8KIes {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-14o3t.style-14o3t {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-BADav.style-BADav {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-PfOeP.style-PfOeP {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-i9bDN.style-i9bDN {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-Ei7EC.style-Ei7EC {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-EEViB.style-EEViB {  
   font-size: 0.8em;  
}  
#style-36jAB.style-36jAB {  
   font-weight: normal;  
}  
#style-tH7XO.style-tH7XO {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-t6c58.style-t6c58 {  
   font-size: 0.8em;  
}  
#style-bjCeg.style-bjCeg {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-JJcG9.style-JJcG9 {  
   display: none;  
}  
#style-6MH22.style-6MH22 {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-y81FO.style-y81FO {  
   position: relative;  
    padding-top: 125%;  
}  
#style-op5dJ.style-op5dJ {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-cBrKS.style-cBrKS {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-WkiUB.style-WkiUB {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-ro5vR.style-ro5vR {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-rc1Re.style-rc1Re {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-gIGaV.style-gIGaV {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-RLSkV.style-RLSkV {  
   font-size: 0.8em;  
}  
#style-8xchb.style-8xchb {  
   font-weight: normal;  
}  
#style-mDbhy.style-mDbhy {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-oK2AS.style-oK2AS {  
   font-size: 0.8em;  
}  
#style-phHGM.style-phHGM {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-pGpPK.style-pGpPK {  
   display: none;  
}  
#style-dHv8X.style-dHv8X {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-36UVe.style-36UVe {  
   position: relative;  
    padding-top: 125%;  
}  
#style-c1Xsd.style-c1Xsd {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-lStzD.style-lStzD {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-encWl.style-encWl {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-RJWJX.style-RJWJX {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-TQ7do.style-TQ7do {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-q13mw.style-q13mw {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-2j2zB.style-2j2zB {  
   font-size: 0.8em;  
}  
#style-ja12s.style-ja12s {  
   font-weight: normal;  
}  
#style-BwMfK.style-BwMfK {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-SRKPR.style-SRKPR {  
   font-size: 0.8em;  
}  
#style-MA2ml.style-MA2ml {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-cK61O.style-cK61O {  
   display: none;  
}  
#style-HHwZL.style-HHwZL {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-DOkT6.style-DOkT6 {  
   position: relative;  
    padding-top: 125%;  
}  
#style-qniEW.style-qniEW {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-fQWoZ.style-fQWoZ {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-4toaq.style-4toaq {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-jZoyF.style-jZoyF {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-KMjMy.style-KMjMy {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-rLasE.style-rLasE {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-toGIq.style-toGIq {  
   font-size: 0.8em;  
}  
#style-G2Akm.style-G2Akm {  
   font-weight: normal;  
}  
#style-P7ayw.style-P7ayw {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-oCeZ2.style-oCeZ2 {  
   font-size: 0.8em;  
}  
#style-A15ya.style-A15ya {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-AoaoE.style-AoaoE {  
   display: none;  
}  
#style-QjHrF.style-QjHrF {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-ngvsi.style-ngvsi {  
   position: relative;  
    padding-top: 125%;  
}  
#style-gvmkb.style-gvmkb {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-GarUv.style-GarUv {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-OtUMR.style-OtUMR {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-DDBkR.style-DDBkR {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-nTAp7.style-nTAp7 {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-2qqZb.style-2qqZb {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-CfRa2.style-CfRa2 {  
   font-size: 0.8em;  
}  
#style-6S2Kj.style-6S2Kj {  
   font-weight: normal;  
}  
#style-HSMd5.style-HSMd5 {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-ZLlJq.style-ZLlJq {  
   font-size: 0.8em;  
}  
#style-K3aA5.style-K3aA5 {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-wjoEz.style-wjoEz {  
   display: none;  
}  
#style-ZOpzB.style-ZOpzB {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-67Zmr.style-67Zmr {  
   position: relative;  
    padding-top: 125%;  
}  
#style-Gliqc.style-Gliqc {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-5NrLK.style-5NrLK {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-cFchz.style-cFchz {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-Wpy6n.style-Wpy6n {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-o9529.style-o9529 {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-zKA6c.style-zKA6c {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-sFjbZ.style-sFjbZ {  
   font-size: 0.8em;  
}  
#style-h5hNB.style-h5hNB {  
   font-weight: normal;  
}  
#style-Jwy79.style-Jwy79 {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-t1qDI.style-t1qDI {  
   font-size: 0.8em;  
}  
#style-JhTrr.style-JhTrr {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-NmFk2.style-NmFk2 {  
   display: none;  
}  
#style-WaRrw.style-WaRrw {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-5bFDr.style-5bFDr {  
   position: relative;  
    padding-top: 125%;  
}  
#style-3LQiK.style-3LQiK {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-qod32.style-qod32 {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-k7PqX.style-k7PqX {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-EnZdJ.style-EnZdJ {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-rbFGS.style-rbFGS {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-VcblH.style-VcblH {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-179XN.style-179XN {  
   font-size: 0.8em;  
}  
#style-JHRKI.style-JHRKI {  
   font-weight: normal;  
}  
#style-BoNpw.style-BoNpw {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-H3E4P.style-H3E4P {  
   font-size: 0.8em;  
}  
#style-l7Aiw.style-l7Aiw {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-R6zTj.style-R6zTj {  
   display: none;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-AdCkM.style-AdCkM {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-iZFqQ.style-iZFqQ {  
   position: relative;  
    padding-top: 125%;  
}  
#style-klXDW.style-klXDW {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-ldvMU.style-ldvMU {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-UQIrp.style-UQIrp {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-nqdTO.style-nqdTO {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-XkFDK.style-XkFDK {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-vtVWq.style-vtVWq {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-ljJqJ.style-ljJqJ {  
   font-size: 0.8em;  
}  
#style-Xtohi.style-Xtohi {  
   font-weight: normal;  
}  
#style-zgFtb.style-zgFtb {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-JA2kD.style-JA2kD {  
   font-size: 0.8em;  
}  
#style-XjQrH.style-XjQrH {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-GlXSA.style-GlXSA {  
   display: none;  
}  
#style-TOkGU.style-TOkGU {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-HVqWT.style-HVqWT {  
   position: relative;  
    padding-top: 125%;  
}  
#style-pH3CX.style-pH3CX {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-O79td.style-O79td {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-FvCIX.style-FvCIX {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-BtnRO.style-BtnRO {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-TUnth.style-TUnth {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-UI2gD.style-UI2gD {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-TVdGd.style-TVdGd {  
   font-size: 0.8em;  
}  
#style-eX9tG.style-eX9tG {  
   font-weight: normal;  
}  
#style-UIoQO.style-UIoQO {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-ImWWm.style-ImWWm {  
   font-size: 0.8em;  
}  
#style-n5f6M.style-n5f6M {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-U3SPT.style-U3SPT {  
   display: none;  
}  
#style-m9QzU.style-m9QzU {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-qh5C3.style-qh5C3 {  
   position: relative;  
    padding-top: 125%;  
}  
#style-iyWFH.style-iyWFH {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-Sopzc.style-Sopzc {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-kvCoe.style-kvCoe {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-spX2z.style-spX2z {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-8QHhh.style-8QHhh {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-dVdO6.style-dVdO6 {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-8qRpZ.style-8qRpZ {  
   font-size: 0.8em;  
}  
#style-c4o2g.style-c4o2g {  
   font-weight: normal;  
}  
#style-WMAjw.style-WMAjw {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-bwU2y.style-bwU2y {  
   font-size: 0.8em;  
}  
#style-KyheL.style-KyheL {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-Ayktx.style-Ayktx {  
   display: none;  
}  
#style-73sB5.style-73sB5 {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-zlaC2.style-zlaC2 {  
   position: relative;  
    padding-top: 125%;  
}  
#style-8lLed.style-8lLed {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-FRTNL.style-FRTNL {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-vsOej.style-vsOej {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-OICMc.style-OICMc {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-9d3dg.style-9d3dg {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-38VBx.style-38VBx {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-iQKUy.style-iQKUy {  
   font-size: 0.8em;  
}  
#style-gFePJ.style-gFePJ {  
   font-weight: normal;  
}  
#style-sE7CM.style-sE7CM {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-Pa4ZL.style-Pa4ZL {  
   font-size: 0.8em;  
}  
#style-FWz6z.style-FWz6z {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-RB1zW.style-RB1zW {  
   display: none;  
}  
#style-88Bgq.style-88Bgq {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-PFekh.style-PFekh {  
   position: relative;  
    padding-top: 125%;  
}  
#style-MLjk1.style-MLjk1 {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-oFCt5.style-oFCt5 {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-WZ1G8.style-WZ1G8 {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-aWxob.style-aWxob {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-trUge.style-trUge {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-AbW4w.style-AbW4w {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-PcEN1.style-PcEN1 {  
   font-size: 0.8em;  
}  
#style-i4jab.style-i4jab {  
   font-weight: normal;  
}  
#style-KroYO.style-KroYO {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-W5iJm.style-W5iJm {  
   font-size: 0.8em;  
}  
#style-l9EIA.style-l9EIA {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-F19F8.style-F19F8 {  
   display: none;  
}  
#style-5tGTt.style-5tGTt {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-ym6Td.style-ym6Td {  
   position: relative;  
    padding-top: 125%;  
}  
#style-Uom8T.style-Uom8T {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-4NUoI.style-4NUoI {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-JDJ5v.style-JDJ5v {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-NCCUX.style-NCCUX {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-o9Fgl.style-o9Fgl {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-MxPoZ.style-MxPoZ {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-U7vNl.style-U7vNl {  
   font-size: 0.8em;  
}  
#style-koidk.style-koidk {  
   font-weight: normal;  
}  
#style-xPVdo.style-xPVdo {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-8TeMw.style-8TeMw {  
   font-size: 0.8em;  
}  
#style-3GrGK.style-3GrGK {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-MjZqN.style-MjZqN {  
   display: none;  
}  
#style-Y6tm9.style-Y6tm9 {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-aWZcq.style-aWZcq {  
   position: relative;  
    padding-top: 125%;  
}  
#style-dUGyn.style-dUGyn {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-WnIoB.style-WnIoB {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-lPkCG.style-lPkCG {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-77yVq.style-77yVq {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-w6qbd.style-w6qbd {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-pGSh8.style-pGSh8 {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-f6P7S.style-f6P7S {  
   font-size: 0.8em;  
}  
#style-onmdz.style-onmdz {  
   font-weight: normal;  
}  
#style-4UxRJ.style-4UxRJ {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-7iokR.style-7iokR {  
   font-size: 0.8em;  
}  
#style-WojOk.style-WojOk {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-cvEay.style-cvEay {  
   display: none;  
}  
#style-vPo1J.style-vPo1J {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-yBg4I.style-yBg4I {  
   position: relative;  
    padding-top: 125%;  
}  
#style-3RU9d.style-3RU9d {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-Nfcyl.style-Nfcyl {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-2AeEJ.style-2AeEJ {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-7nv9E.style-7nv9E {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-U78zR.style-U78zR {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-kHYcV.style-kHYcV {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-92nUz.style-92nUz {  
   font-size: 0.8em;  
}  
#style-eS8ox.style-eS8ox {  
   font-weight: normal;  
}  
#style-HxpZa.style-HxpZa {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-yE8qj.style-yE8qj {  
   font-size: 0.8em;  
}  
#style-ftMjX.style-ftMjX {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-VYcDg.style-VYcDg {  
   display: none;  
}  
#style-G9s5W.style-G9s5W {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-ZUajA.style-ZUajA {  
   position: relative;  
    padding-top: 125%;  
}  
#style-iJPVd.style-iJPVd {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-ooP6O.style-ooP6O {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-hXKLZ.style-hXKLZ {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-ZnoUa.style-ZnoUa {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-jUflk.style-jUflk {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-DWCSv.style-DWCSv {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-bH4r6.style-bH4r6 {  
   font-size: 0.8em;  
}  
#style-WjzB7.style-WjzB7 {  
   font-weight: normal;  
}  
#style-owos5.style-owos5 {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-1ftxH.style-1ftxH {  
   font-size: 0.8em;  
}  
#style-gCNTo.style-gCNTo {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-tnsqB.style-tnsqB {  
   display: none;  
}  
#style-5iLhM.style-5iLhM {  
   border-radius: 0;  
   border: 1.5px solid #fff;  
}  
#style-BrOgN.style-BrOgN {  
   position: relative;  
    padding-top: 125%;  
}  
#style-89cI3.style-89cI3 {  
   position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}  
#style-jbUP8.style-jbUP8 {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}  
#style-62rrr.style-62rrr {  
   position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-rZs9o.style-rZs9o {  
   display: flex;  
    justify-content: space-between;  
    align-items: flex-start;  
}  
#style-ssYb6.style-ssYb6 {  
   flex: 1;  
    min-width: 0;  
    margin-right: 10px;  
}  
#style-vvyoC.style-vvyoC {  
   font-size: 1.1em;  
    font-weight: bold;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
#style-oFUWV.style-oFUWV {  
   font-size: 0.8em;  
}  
#style-T1diZ.style-T1diZ {  
   font-weight: normal;  
}  
#style-eJLYB.style-eJLYB {  
   flex-shrink: 0;  
    text-align: right;  
}  
#style-a6oGk.style-a6oGk {  
   font-size: 0.8em;  
}  
#style-enked.style-enked {  
   position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);  
    color: white;  
    padding: 10px;  
}  
#style-FIt2m.style-FIt2m {  
   display: none;  
}  



.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-text {
    font-size: 1rem;
    color: #444;
}


/* Mobile and tablet  */
.row-cols-md-3 > * {
    min-width: 381px;
}

@media (max-width: 1024px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .row-cols-xl-5 > * {
        width: 33.33%;
    }

    .row-cols-lg-4 > * {
        width: 50%;
    }

    .row-cols-md-3 > * {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .row-cols-xl-5 > *,
    .row-cols-lg-4 > *,
    .row-cols-md-3 > *,
    .row-cols-sm-2 > * {
        width: 100%;
    }
}

